@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Helperland.ViewModel.BookServiceViewModel
@{
    ViewData["Title"] = "Book-Service";
    Layout = "~/Views/Shared/PublicPageLayout.cshtml";
}

<div class="book-service_img">

</div>

<section class="faq_title">
    <h1 class="text-center">Set up your cleaning service</h1>
    <h4><img src="/asset/forma-1-copy-5.png" class="text-center"></h4>
</section>

<div class="row ss_form">
    <div class="col-lg-8">
        <div class="row ss_progress_back">
            <div class="col-md-3 col-step-1 active active_tab">
                <div class="ss_progress_img">
                    <img class="dwn_img" id="step_1_img" src="/asset/setup-service.png">
                </div>
                <div>
                    <p>Setup Service</p>
                </div>
            </div>
            <div class="col-md-3 col-step-2">
                <div class="ss_progress_img">
                    <img id="step_2_img" src="/asset/schedule-plan 2.png">
                </div>
                <div>
                    <p>Schedule Plan</p>
                </div>
            </div>
            <div class="col-md-3 col-step-3">
                <div class="ss_progress_img">
                    <img id="step_3_img" src="/asset/user-details 2.png">
                </div>
                <div>
                    <p>Your Details</p>
                </div>
            </div>
            <div class="col-md-3 col-step-4">
                <div class="ss_progress_img">
                    <img id="step_4_img" class="dwn_img" src="/asset/payment 2.png">
                </div>
                <div>
                    <p>Make Payment</p>
                </div>
            </div>
        </div>
        <div class="row ss_form_detail">
            <form id="postcode_form" asp-action="CheckPostalCode" asp-controller="BookService">
                <div class="ss_step_1 ">
                    <div class="row pt-3">
                        <label>Enter Your Postal Code</label>
                    </div>

                    <div class="row pt-2">
                        <div class="col-sm-5">
                            <input class="form-control" asp-for="zipCodeViewModel.zipcode" type="text" placeholder="Postal Code" />
                            <span asp-validation-for="zipCodeViewModel.zipcode" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="postal_check_btn">Check Availability</button>
                        </div>

                    </div>
                </div>
            </form>


            <form asp-action="addServiceInfo" asp-controller="BookService" id="BookService">
                <div class="ss_step_2 fade">



                    <div class="row pt-3">
                        <div class="col-md-5">

                            <div class="row">
                                <label>When do you need the cleaner?</label>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-7 date-container">
                                    <input asp-for="ServiceRequestViewModel.servicestartdate" type="text" id="service_date" class="form-control date_field" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="01/01/1111" required />
                                    <span class="date-button">
                                        <img src="/asset/admin-calendar-blue.png">
                                    </span>

                                    <p class="text-danger validate_date_empty fade">select date</p>
                                </div>
                                <div class="col-sm-5 clock-container">
                                    <input asp-for="ServiceRequestViewModel.servicestrarttime" id="service_time" type="time" placeholder="00:00" class="form-control" required />
                                    <span class="clock-button">
                                        <img src="/asset/clock-blue.png">
                                    </span>
                                    <p class="text-danger validate_time fade">Select time</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 how_long">
                            <div class="row">
                                <label>How long do you need your cleaner to stay?</label>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-4">
                                    <select asp-for="ServiceRequestViewModel.servicehours" id="basic_time" class="form-select">
                                        <option selected value="3">3 Hrs</option>
                                        <option value="4">4 Hrs</option>
                                        <option value="5">5 Hrs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <hr class="seperator">
                    </div>

                    <div class="row">
                        <label>Extra Services</label>
                    </div>
                    <div class="row">
                        <div class="extra-serve d-flex flex-wrap align-items-center justify-content-center">
                            <div class="extra-service-items text-center">
                                <div id="extra-ser-1" class="extra-img d-flex justify-content-center align-items-center mx-auto">
                                    <img id="sr-1" src="/asset/3.png" alt="">
                                </div>
                                <div class="extra-details mt-3">
                                    <p class="extra-title mb-0">
                                        Inside cabinets
                                    </p>
                                </div>
                                <div class="fade">
                                    <input asp-for="ServiceRequestViewModel.extraSer1" type="checkbox" id="extra_s_check_1" />
                                </div>
                            </div>
                            <div class="extra-service-items text-center">
                                <div id="extra-ser-2" class="extra-img d-flex justify-content-center align-items-center mx-auto">
                                    <img id="sr-2" src="/asset/5.png" alt="">
                                </div>
                                <div class="extra-details mt-3">
                                    <p class="extra-title mb-0">
                                        Inside fridge
                                    </p>
                                </div>
                                <div class="fade">
                                    <input asp-for="ServiceRequestViewModel.extraSer2" type="checkbox" id="extra_s_check_2" />
                                </div>
                            </div>
                            <div class="extra-service-items text-center">
                                <div id="extra-ser-3" class="extra-img d-flex justify-content-center align-items-center mx-auto">
                                    <img id="sr-3" src="/asset/service-icon-03-1.png" alt="">
                                </div>
                                <div class="extra-details mt-3">
                                    <p class="extra-title mb-0">
                                        Inside oven
                                    </p>
                                </div>
                                <div class="fade">
                                    <input asp-for="ServiceRequestViewModel.extraSer3" type="checkbox" id="extra_s_check_3" />
                                </div>
                            </div>
                            <div class="extra-service-items text-center">
                                <div id="extra-ser-4" class="extra-img d-flex justify-content-center align-items-center mx-auto">
                                    <img id="sr-4" src="/asset/2.png" alt="">
                                </div>
                                <div class="extra-details mt-3">
                                    <p class="extra-title mb-0">
                                        Laundry wash & dry
                                    </p>
                                </div>
                                <div class="fade">
                                    <input asp-for="ServiceRequestViewModel.extraSer4" type="checkbox" id="extra_s_check_4" />
                                </div>
                            </div>
                            <div class="extra-service-items text-center">
                                <div id="extra-ser-5" class="extra-img d-flex justify-content-center align-items-center mx-auto">
                                    <img id="sr-5" src="/asset/1.png" alt="">
                                </div>
                                <div class="extra-details mt-3">
                                    <p class="extra-title mb-0">
                                        Interior windows
                                    </p>
                                </div>
                                <div class="fade">
                                    <input asp-for="ServiceRequestViewModel.extraSer5" type="checkbox" id="extra_s_check_5" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="seperator">
                    </div>
                    <div class="row">
                        <label>Comments</label>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-12">
                            <textarea asp-for="ServiceRequestViewModel.comments" class="form-control ss_form_textarea"></textarea>
                        </div>
                    </div>
                    <div class="row pt-3 check_pet">
                        <div class="col-sm-1">
                            <input asp-for="ServiceRequestViewModel.haspets" id="pets_at_home" type="checkbox" class="form-check" />
                        </div>
                        <div class="col-sm-6 ps_p_tag">
                            <p>I have pets at home</p>
                        </div>

                    </div>
                    <div class="row pt-3">
                        <hr>
                    </div>

                    <div class="row ss_cnt_btn">
                        <div class="col-sm-10">

                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="continue-1">Continue</button>
                        </div>
                    </div>

                </div>

                <div class="ss_step_3 fade">

                    <div class="row pt-3">
                        <label>Enter your details ,So we can serve you in a better way!</label>
                    </div>
                    <div class="row cust_addresses">

                        @{
                            if (Model != null)
                            {
                                foreach (var data in Model.address)
                                {
                                    <div class="row ss_address_radio">
                                        <div class="col-md-2 text-center">
                                            <input name="ss_address" class="radio_address form-check-input" id="@data.id" type="radio" />
                                        </div>
                                        <div class="col-md-8 align-items-center">
                                            <div class="row pt-2">
                                                <div class="col-sm-12 d-flex">
                                                    <label>Address : </label>
                                                    <pre class="ss_aaddress_addressline1"> @data.addressline1 </pre>

                                                    <pre>,</pre>
                                                    <pre class="ss_address_city">@data.city </pre>
                                                    <pre class="ss_address_pin">@data.postalcode</pre>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 d-flex">
                                                    <label>Phonenumber : </label>
                                                    <p class="ss_address_phone"> @data.phonenumber</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }

                        <div>
                            <input asp-for="addressId" id="hidden_field" type="hidden" />
                        </div>
                        <div>
                            <input asp-for="addressId2" id="hidden_field2" type="hidden" />
                        </div>
                    </div>


                    <div class="row pt-2">
                        <div class="col-md-3">
                            <button type="button" class="add_address_btn">Add New Address</button>
                        </div>
                        <div>
                            <span id="add_validation" class="text-danger">Please select address</span>
                        </div>
                    </div>

                    <div class="row pt-2 ss_address_create justify-content-center fade">

                        <div class="col-md-5 ">
                            <div class="row pt-2">
                                <label>Street Name</label>
                            </div>
                            <div class="row pt-1">
                                <div class="col-sm-12">
                                    <input asp-for="streetname" id="add_street" type="text" placeholder="Street Name" class="form-control" />
                                    <div id="add_street_err" class="text-danger fade">
                                        streetname required
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-2">
                                <label>Postal Code</label>
                            </div>
                            <div class="row pt-1">
                                <div class="col-sm-12">
                                    <input asp-for="postalCode" value="@HttpContextAccessor.HttpContext.Session.GetString("zipcode")" id="add_postal" type="text" placeholder="Postalcode" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" disabled />

                                </div>
                            </div>

                            <div class="row pt-2">
                                <label>Phone number</label>
                            </div>
                            <div class="row pt-1">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 input-group">
                                        <span class="c_code align-items-center justify-content-center">+49</span>
                                        <input type="text" asp-for="phoneno" class="form-control" id="add_mobile" placeholder="Mobile Number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" pattern="[0-9]{10}" />

                                    </div>
                                    <div id="add_mobile_err" class="text-danger fade">
                                        phonenumber required
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-md-3 d-flex mb-2">
                                    <button type="button" class="save_address_btn">Save</button>
                                    <button type="button" class="cancel_address_btn">Cancel</button>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-5">
                            <div class="row pt-2">
                                <label>House number</label>
                            </div>
                            <div class="row pt-1">
                                <div class="col-sm-12">
                                    <input asp-for="houseno" id="add_house" type="text" placeholder="House number" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" />
                                    <div id="add_house_err" class="text-danger fade">
                                        House number required
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-2">
                                <label>City</label>
                            </div>
                            <div class="row pt-1">
                                <div class="col-sm-12">
                                    <input asp-for="cityname" id="add_city" type="text" placeholder="City" class="form-control" />
                                    <div id="add_city_err" class="text-danger fade">
                                        city name required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row pt-2">
                        <hr class="seperator">
                    </div>

                    <div class="row pt-2">
                        <label>Your Favourite Service Providers</label>
                    </div>
                    <div class="row pt-1">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-1">
                        <label>You can choose your favourite service provider from below list</label>
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-3 justify-content-center">
                            <div class=" justify-content-center text-center">
                                <div class="extra-img-sp-avatar d-flex justify-content-center align-items-center mx-auto">
                                    <img src="/asset/avatar-hat.png" alt="">
                                </div>
                                <div class="extra-details text-center mt-3">
                                    <p class="extra-sp-name mb-0">
                                        Yaksh Soni
                                    </p>
                                    <button class="sp_select_btn">select</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <hr class="seperator">
                    </div>

                    <div class="row pt-2 ss_cnt_btn">
                        <div class="col-sm-10">

                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="continue-2">Continue</button>
                        </div>

                    </div>
                </div>

                <div class="ss_step_4 fade">

                    <div class="row pt-2">
                        <label>Pay securely with Helperland payment gateway</label>
                    </div>

                    <div class="row pt-2">
                        <hr class="seperator">
                    </div>

                    <div class="row pt-2">
                        <iframe name="__privateStripeFrame52510" frameborder="0" allowtransparency="true"
                                scrolling="no" allow="payment *"
                                src="https://js.stripe.com/v3/elements-inner-card-6f95dd34a5c89aae610bcf619d0b2112.html#locale=en&amp;wait=false&amp;mids[guid]=26be9e97-86fa-42b9-a15e-5580bc4b93c6697bcd&amp;mids[muid]=b9c63c2a-e1e3-4391-af0e-035491e42cff6f2065&amp;mids[sid]=50a9fbe1-5a7d-44fa-bb11-fabf27d5d426d48d0d&amp;hidePostalCode=true&amp;style[base][iconColor]=%23666EE8&amp;style[base][color]=%2331325F&amp;style[base][lineHeight]=36px&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23c5c5c5&amp;rtl=false&amp;componentName=card&amp;keyMode=test&amp;apiKey=pk_test_CbN2mTsadzVC1WpDPDgcDWbG&amp;referrer=https%3A%2F%2Fweb1.anasource.com%2Ftrainee2021%2Fbook-service&amp;controllerId=__privateStripeController5256"
                                title="Secure card payment input frame"
                                style=" margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; height: 36px;">
                        </iframe>
                    </div>

                    <div class="row pt-2">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-2">
                        <div class="col-md-9">

                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="accepted_card_lbl">Accepted cards</label>
                            </div>
                            <div class="row d-flex">
                                <img class="card_img" src="/asset/visa-1.png">
                                <img class="card_img" src="/asset/master-2.png">
                                <img class="card_img" src="/asset/ax-1.png">
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-2 accept_3_policy">
                        <div class="col-md-1 pt-1">
                            <input type="checkbox" id="terms-book" name="policy_check" class="check_box" required>

                        </div>
                        <div class="col-md-11">
                            <label class="check_label_book">I accept <a href="#">terms and conditions </a>, the <a href="#">Cancellation Policy </a> and the <a href="#"> privacy policy</a>. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period and I loose my right of withdrawal as a consumer with full performance of the contract. </label>
                        </div>
                    </div>
                    <div class="row">
                        <span id="terms-book-err" class="text-danger">Please Accept Terms & Conditions</span>
                    </div>
                    
                    <div class="row pt-2">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-2 ss_cnt_btn">
                        <div class="col-md-9">

                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="complete_booking_btn" class="complete_booking_btn">Complete Booking</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="ss_seperator_line">
        <hr class="seperator ">
    </div>
    <div class="col-lg-4">
        <div class="row ss_pay_summary">
            <label>Payment Summary</label>
        </div>
        <div class="row ps_container justify-content-center">
            <div class="row pt-4 ps_p_tag">
                <div class="d-flex">
                    <p class="ps_date">01/01/1111</p>
                    <pre>  at  </pre>
                    <p class="ps_time">00:00</p>
                    <p class="ps_time_meredian">PM</p>
                </div>
            </div>

            <div class="row pt-3">
                <label>Duration</label>
            </div>

            <div class="row pt-1 ps_p_tag">
                <div class="col-sm-3">
                    <p>Basic</p>
                </div>
                <div class="col-sm-6">

                </div>
                <div class="col-sm-3 d-flex">
                    <p class="ps_basic_hr ms-auto">3</p>
                    <pre> hrs</pre>
                </div>
            </div>
            <div class="row pt-1 ps_p_tag ps_ser_1 fade">
                <div class="col-sm-7">
                    <p>Inside Cabinets (extra)</p>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3 pr-0 d-flex ">
                    <p class="ps_extra_min ms-auto">30</p>
                    <pre> min</pre>
                </div>
            </div>
            <div class="row pt-1 ps_p_tag ps_ser_2 fade">
                <div class="col-sm-7">
                    <p>Inside Fridge (extra)</p>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3 pr-0 d-flex ">
                    <p class="ps_extra_min ms-auto">30</p>
                    <pre> min</pre>
                </div>
            </div>
            <div class="row pt-1 ps_p_tag ps_ser_3 fade">
                <div class="col-sm-7">
                    <p>Inside Oven (extra)</p>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3 pr-0 d-flex ">
                    <p class="ps_extra_min ms-auto">30</p>
                    <pre> min</pre>
                </div>
            </div>
            <div class="row pt-1 ps_p_tag ps_ser_4 fade">
                <div class="col-sm-8">
                    <p>Laundry Wash & dry (extra)</p>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-3 pr-0 d-flex ">
                    <p class="ps_extra_min ms-auto">30</p>
                    <pre> min</pre>
                </div>
            </div>
            <div class="row pt-1 ps_p_tag ps_ser_5 fade">
                <div class="col-sm-7">
                    <p>Interior Windows (extra)</p>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3 pr-0 d-flex ">
                    <p class="ps_extra_min ms-auto">30</p>
                    <pre> min</pre>
                </div>
            </div>
            <div class="row pt-1">
                <hr class="seperator">
            </div>
            <div class="row pt-1">
                <div class="col-sm-6">
                    <label>Total Service Time</label>
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3 d-flex">
                    <label class="ps_total_time ms-auto">3</label>
                    <pre><label> hrs</label></pre>
                </div>
            </div>
            <div class="row pt-3">
                <hr class="seperator">
            </div>
            <div class="row pt-2 ps_p_tag">
                <div class="col-sm-6">
                    <p>Per Cleaning</p>
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3 d-flex">
                    <p class="ps_per_clean ms-auto">60 €</p>
                </div>
            </div>
            <div class="row pt-2">
                <hr class="seperator">
            </div>
            <div class="row pt-2">
                <div class="col-sm-6">
                    <p class="ps_total_payment">Total Payment</p>
                </div>
                <div class="col-sm-6 d-flex">
                    <p class="ps_total_price ms-auto">60</p>
                    <p class="ps_grand_total">€</p>
                </div>
            </div>
            <div class="row pt-2 ps_footer">
                <div class="col-sm-1 ">
                    <img src="/asset/smiley.png" alt="smiley">
                </div>
                <div class="col-sm-11">
                    <p class="ps_footer_lbl">See what is always included</p>
                </div>
            </div>
        </div>
        <div class="row pt-3 ss_question_sect">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <label class="question_lbl">Questions?</label>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-sm-12 accordion" id="accordionone">
                    <div class="row mb-2 accordion_item">
                        <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                            data-bs-target="#fc-1">
                            What's included in a cleaning?
                        </h2>
                        <div id="fc-1" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                            <div class="accordion-body">
                                <p>Bedroom, Living Room & Common Areas, Bathrooms, Kitchen, Extras </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-1 mb-2 accordion_item">
                        <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                            data-bs-target="#fc-2">
                            Which Helperland professional will come to my place?
                        </h2>
                        <div id="fc-2" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                            <div class="accordion-body">
                                <p>Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available. Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings. You will receive an email with details about your professional prior to your appointment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-1 mb-2 accordion_item">
                        <h2 class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                            data-bs-target="#fc-3">
                            Can I skip or reschedule bookings?
                        </h2>
                        <div id="fc-3" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                            <div class="accordion-body">
                                <p>You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Helperland services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <hr class="seperator">
                    </div>
                    <div class="row pt-1">
                        <a href="#" class="for_more_help">For more help</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="ps_btn" data-bs-toggle="modal" data-bs-target="#psModal">
    Payment Summary
</button>

<div class="modal fade" id="psModal" aria-labelledby="psModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="psModalLabel">Payment Summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-4">

                    <div class="row ps_container justify-content-center">
                        <div class="row pt-4 ps_p_tag">
                            <div class="d-flex">
                                <p class="ps_date">01/01/1111</p>
                                <pre>  at  </pre>
                                <p class="ps_time">00:00</p>
                                <p class="ps_time_meredian">PM</p>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <label>Duration</label>
                        </div>

                        <div class="row pt-1 ps_p_tag">
                            <div class="col-sm-3">
                                <p>Basic</p>
                            </div>
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-3 d-flex">
                                <p class="ps_basic_hr ms-auto">3</p>
                                <pre> hrs</pre>
                            </div>
                        </div>
                        <div class="row pt-1 ps_p_tag ps_ser_1 fade">
                            <div class="col-sm-7">
                                <p>Inside Cabinets (extra)</p>
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-3 pr-0 d-flex ">
                                <p class="ps_extra_min ms-auto">30</p>
                                <pre> min</pre>
                            </div>
                        </div>
                        <div class="row pt-1 ps_p_tag ps_ser_2 fade">
                            <div class="col-sm-7">
                                <p>Inside Fridge (extra)</p>
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-3 pr-0 d-flex ">
                                <p class="ps_extra_min ms-auto">30</p>
                                <pre> min</pre>
                            </div>
                        </div>
                        <div class="row pt-1 ps_p_tag ps_ser_3 fade">
                            <div class="col-sm-7">
                                <p>Inside Oven (extra)</p>
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-3 pr-0 d-flex ">
                                <p class="ps_extra_min ms-auto">30</p>
                                <pre> min</pre>
                            </div>
                        </div>
                        <div class="row pt-1 ps_p_tag ps_ser_4 fade">
                            <div class="col-sm-8">
                                <p>Laundry Wash & dry (extra)</p>
                            </div>
                            <div class="col-sm-1">

                            </div>
                            <div class="col-sm-3 pr-0 d-flex ">
                                <p class="ps_extra_min ms-auto">30</p>
                                <pre> min</pre>
                            </div>
                        </div>
                        <div class="row pt-1 ps_p_tag ps_ser_5 fade">
                            <div class="col-sm-7">
                                <p>Interior Windows (extra)</p>
                            </div>
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-3 pr-0 d-flex ">
                                <p class="ps_extra_min ms-auto">30</p>
                                <pre> min</pre>
                            </div>
                        </div>
                        <div class="row pt-1">
                            <hr class="seperator">
                        </div>
                        <div class="row pt-1">
                            <div class="col-sm-6">
                                <label>Total Service Time</label>
                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3 d-flex">
                                <label class="ps_total_time ms-auto">3</label>
                                <pre><label> hrs</label></pre>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <hr class="seperator">
                        </div>
                        <div class="row pt-2 ps_p_tag">
                            <div class="col-sm-6">
                                <p>Per Cleaning</p>
                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3 d-flex">
                                <p class="ps_per_clean ms-auto">60 €</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <hr class="seperator">
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-6">
                                <p class="ps_total_payment">Total Payment</p>
                            </div>
                            <div class="col-sm-6 d-flex">
                                <p class="ps_total_price ms-auto">60</p>
                                <p class="ps_grand_total">€</p>
                            </div>
                        </div>
                        <div class="row pt-2 ps_footer">
                            <div class="col-sm-1 ">
                                <img src="/asset/smiley.png" alt="smiley">
                            </div>
                            <div class="col-sm-11">
                                <p class="ps_footer_lbl">See what is always included</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

