@model Helperland.ViewModel.MySettingViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/asset/favicon_img.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">

</head>
<body>

    <header class="new-header">
        <!-- desktop view nav start -->
        <nav class="serviceHistory-nav navbar navbar-expand-lg navbar-dark p-0 fixed-top " id="serHistoryNav">
            <div class="container-fluid">
                <a class="navbar-brand px-15" asp-action="Index" asp-controller="Home">
                    <img src="/asset/logo-small.png">
                </a>
                <div class="" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 us-nav text-center align-items-center">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserTypeId") == 1)
                        {
                            <li class="nav-item">
                                <a class="sh-sp-btn faq_active" asp-action="book_service" asp-controller="Home">Book now</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="none_active" asp-action="Price" asp-controller="Home">Prices & services</a>
                        </li>
                        <li class="nav-item">
                            <a class="none_active" href="#">Warranty</a>
                        </li>
                        <li class="nav-item">
                            <a class="none_active" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="none_active" asp-action="Contact" asp-controller="Home">Contact</a>
                        </li>
                        <li class="nav-item us-notification">
                            <a href="#" class="m-2">
                                <img class="bell-notification" src="/asset/icon-notification.png">
                                <span class="notify-badge">1</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" id="drpdwn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/asset/user.png">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <div class="login_info_container">
                                        <div class="login_welcome_txt">Welcome</div>
                                        <div class="login_welcome_name">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</div>
                                    </div>
                                    <div>
                                        <hr class="seperator no_mar" />
                                    </div>
                                </li>
                                @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserTypeId") == 1)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-action="dashboard" asp-controller="Home">
                                            My Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="mySetting" asp-controller="Home">
                                            My Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                                            Logout
                                        </a>
                                    </li>
                                }


                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- desktop view nav end -->
        <!-- Mobile View Navbar Start -->
        <nav class="shSmallNav serviceHistory-nav fixed-top" id="smSerHistoryNav">
            <div class="container-fluid">
                <div class="smallNavlogo">
                    <a asp-action="Index" asp-controller="Home"><img src="/asset/logo-small.png" alt=""></a>
                </div>
                <div class="smallNavNofitify">
                    <a class="m-2" href="#">
                        <img class="bell-notification" src="/asset/icon-notification.png">
                        <span class="sm-notify-badge">1</span>
                    </a>
                </div>
                <div class="hamburger">
                    <img class="hamburger-img" src="/asset/hamburger-icon-2.png">
                </div>
                <div class="smNavMenu d-flex">
                    <div class="firstPart"></div>
                    <div class="secondPart">
                        <div class="uName">
                            Welcome,<br>
                            <strong>@HttpContextAccessor.HttpContext.Session.GetString("UserName")</strong>
                        </div>
                        <hr class="smNavSeparator">
                        <div class="nav flex-column text-start dashNavSide" role="tablist" aria-orientation="vertical">
                            <a id="dashboard" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" role="tab"
                               aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a>

                            <a class="active" id="v-pills-serHistory-tab" data-bs-toggle="pill"
                               data-bs-target="#v-pills-sh" role="tab" aria-controls="#v-pills-sh"
                               aria-selected="false">Service History</a>

                            <a id="v-pills-serSchedule-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ss"
                               role="tab" aria-controls="#v-pills-ss" aria-selected="false">
                                Service
                                Schedule
                            </a>

                            <a id="v-pills-favPro-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fp" role="tab"
                               aria-controls="#v-pills-fp" aria-selected="false">Favourite Pros</a>
                        </div>

                        <div class="navItem"><a asp-action="mySetting" asp-controller="Home"> My Settings</a></div>
                        <div class="navItem"><a asp-action="Logout" asp-controller="Home"> Logout</a></div>
                        <hr class="smNavSeparator">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserTypeId") == 1)
                        {
                            <div class="navItem"><a href="#">Book Now</a></div>
                        }

                        <div class="navItem"><a asp-action="Price" asp-controller="Home">Plans & Services</a></div>
                        <div class="navItem"><a href="#">Warranty</a></div>
                        <div class="navItem"><a href="#">Blog</a></div>
                        <div class="navItem"><a asp-action="Contact" asp-controller="Home">Contact</a></div>
                        <hr class="smNavSeparator">
                        <div class="d-flex justify-content-center align-items-center  socialIcon">
                            <img class="fb-social" src="/asset/facebook-mobile-menu.png" alt="Facebook">
                            <img src="/asset/instagram-mobile-menu.png" alt="Instagram">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Mobile View Navbar End -->

    </header>


    <div>
        @RenderBody()
    </div>


    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="#" title="Helper Hand">
                            <img src="/asset/footer-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="Index" asp-controller="Home" title="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="About" asp-controller="Home" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="FAQ" asp-controller="Home" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="/asset/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="/asset/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 p-0">
                        <hr class="footer-separator">
                    </div>
                </div>
                <div class="row faq-policy text-center">
                    <p>©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- -------------------------------------------- Datyasave modal --------------------------------------------------->
    <div class="modal fade" id="datasaveModal" aria-labelledby="datasaveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <img src="/asset/yes-tickmark.png" alt="success" />
                </div>
                <div class="modal-body">
                    <div class="modal_register">
                        Data Saved Successfully
                    </div>
                </div>
                <div class="modal-footer justify-content-center login-btn">
                    <button type="submit" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------password change modal ------------------------------------------------- -->
    <div class="modal fade" id="passchangeModal" aria-labelledby="passchangeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <img src="/asset/yes-tickmark.png" alt="success" />
                </div>
                <div class="modal-body">
                    <div class="modal_register">
                        Password Changed Successfully
                    </div>
                </div>
                <div class="modal-footer justify-content-center login-btn">
                    <button type="submit" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>


    <script src="~/js/script.js"></script>

    @if (ViewBag.after_rate != null)
    {
        <script>
            if ($('#v-pills-mySetting').hasClass('show')) {
                $('#v-pills-mySetting').removeClass('show');
                $('#v-pills-mySetting').removeClass('active');
            }
            $('#ServiceHistory-li').addClass('active');
            $('#v-pills-sh').addClass('show');
            $('#v-pills-sh').addClass('active');
        </script>
    }
    @if (ViewBag.showDash != null)
    {
        <script>
            if ($('#v-pills-mySetting').hasClass('show')) {
                $('#v-pills-mySetting').removeClass('show');
                $('#v-pills-mySetting').removeClass('active');
            }
            $('#Dashboard-li').addClass('active');
            $('#v-pills-dashboard').addClass('show');
            $('#v-pills-dashboard').addClass('active');
        </script>
    }

    @if (ViewBag.datasave != null)
    {
        <script>
            var myModal = new bootstrap.Modal(document.getElementById("datasaveModal"), {});
            document.onreadystatechange = function () {
                myModal.show();
            };
        </script>
    }

    @if (ViewBag.add_change != null)
    {
        <script>
            $(document).ready(function () {

                $('#ms_head_2').click();
                console.log("show address tab");
                $('#myDetails').removeClass('show');
                $('#myDetails').removeClass('active');

                $('#myAddresses').addClass('active');
                $('#myAddresses').addClass('show');
            })
        </script>
    }

    @if (ViewBag.fetched_ms_data != null)
    {
        if (Model.pastServices != null)
        {
            foreach (var ser in Model.pastServices)
            {
                <script>
                    console.log('this is called');
                    //---------------------------------------service provider rating---------------------------------
                    var @("ota_1"+ser.service_id) = document.getElementById("@("ota_1"+ser.service_id)");
                    var @("ota_2"+ser.service_id) = document.getElementById("@("ota_2"+ser.service_id)");
                    var @("ota_3"+ser.service_id) = document.getElementById("@("ota_3"+ser.service_id)");
                    var @("ota_4"+ser.service_id) = document.getElementById("@("ota_4"+ser.service_id)");
                    var @("ota_5"+ser.service_id) = document.getElementById("@("ota_5"+ser.service_id)");
                    $(document).on('click', '@("#ota_1"+ser.service_id)', function () {
                        console.log("ota-1");
                        @("ota_1"+ser.service_id).src = "/asset/star1.png";
                        @("ota_2"+ser.service_id).src = "/asset/star2.png";
                        @("ota_3"+ser.service_id).src = "/asset/star2.png";
                        @("ota_4"+ser.service_id).src = "/asset/star2.png";
                        @("ota_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_ota"+ser.service_id)').val('1');
                    })
                    $(document).on('click', '@("#ota_2"+ser.service_id)', function () {
                        console.log("ota-2");
                        @("ota_1"+ser.service_id).src = "/asset/star1.png";
                        @("ota_2"+ser.service_id).src = "/asset/star1.png";
                        @("ota_3"+ser.service_id).src = "/asset/star2.png";
                        @("ota_4"+ser.service_id).src = "/asset/star2.png";
                        @("ota_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_ota"+ser.service_id)').val('2');
                    })
                    $(document).on('click', '@("#ota_3"+ser.service_id)', function () {
                        console.log("ota-3");
                        @("ota_1"+ser.service_id).src = "/asset/star1.png";
                        @("ota_2"+ser.service_id).src = "/asset/star1.png";
                        @("ota_3"+ser.service_id).src = "/asset/star1.png";
                        @("ota_4"+ser.service_id).src = "/asset/star2.png";
                        @("ota_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_ota"+ser.service_id)').val('3');
                    })
                    $(document).on('click', '@("#ota_4"+ser.service_id)', function () {
                        console.log("ota-4");
                        @("ota_1"+ser.service_id).src = "/asset/star1.png";
                        @("ota_2"+ser.service_id).src = "/asset/star1.png";
                        @("ota_3"+ser.service_id).src = "/asset/star1.png";
                        @("ota_4"+ser.service_id).src = "/asset/star1.png";
                        @("ota_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_ota"+ser.service_id)').val('4');
                    })
                    $(document).on('click', '@("#ota_5"+ser.service_id)', function () {
                        console.log("ota-5");
                        @("ota_1"+ser.service_id).src = "/asset/star1.png";
                        @("ota_2"+ser.service_id).src = "/asset/star1.png";
                        @("ota_3"+ser.service_id).src = "/asset/star1.png";
                        @("ota_4"+ser.service_id).src = "/asset/star1.png";
                        @("ota_5"+ser.service_id).src = "/asset/star1.png";
                        $('@("#hidden_ota"+ser.service_id)').val('5');
                    })


                    var @("frnd_1"+ser.service_id) = document.getElementById("@("frnd_1"+ser.service_id)");
                    var @("frnd_2"+ser.service_id) = document.getElementById("@("frnd_2"+ser.service_id)");
                    var @("frnd_3"+ser.service_id) = document.getElementById("@("frnd_3"+ser.service_id)");
                    var @("frnd_4"+ser.service_id) = document.getElementById("@("frnd_4"+ser.service_id)");
                    var @("frnd_5"+ser.service_id) = document.getElementById("@("frnd_5"+ser.service_id)");
                    $(document).on('click', '@("#frnd_1"+ser.service_id)', function () {
                        @("frnd_1"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_2"+ser.service_id).src = "/asset/star2.png";
                        @("frnd_3"+ser.service_id).src = "/asset/star2.png";
                        @("frnd_4"+ser.service_id).src = "/asset/star2.png";
                        @("frnd_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_frnd"+ser.service_id)').val('1');
                    })
                    $(document).on('click', '@("#frnd_2"+ser.service_id)', function () {
                        @("frnd_1"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_2"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_3"+ser.service_id).src = "/asset/star2.png";
                        @("frnd_4"+ser.service_id).src = "/asset/star2.png";
                        @("frnd_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_frnd"+ser.service_id)').val('2');
                    })
                    $(document).on('click', '@("#frnd_3"+ser.service_id)', function () {
                        @("frnd_1"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_2"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_3"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_4"+ser.service_id).src = "/asset/star2.png";
                        @("frnd_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_frnd"+ser.service_id)').val('3');
                    })
                    $(document).on('click', '@("#frnd_4"+ser.service_id)', function () {
                        @("frnd_1"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_2"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_3"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_4"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_frnd"+ser.service_id)').val('4');
                    })
                    $(document).on('click', '@("#frnd_5"+ser.service_id)', function () {
                        @("frnd_1"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_2"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_3"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_4"+ser.service_id).src = "/asset/star1.png";
                        @("frnd_5"+ser.service_id).src = "/asset/star1.png";
                        $('@("#hidden_frnd"+ser.service_id)').val('5');
                    })

                    var @("qos_1"+ser.service_id) = document.getElementById("@("qos_1"+ser.service_id)");
                    var @("qos_2"+ser.service_id) = document.getElementById("@("qos_2"+ser.service_id)");
                    var @("qos_3"+ser.service_id) = document.getElementById("@("qos_3"+ser.service_id)");
                    var @("qos_4"+ser.service_id) = document.getElementById("@("qos_4"+ser.service_id)");
                    var @("qos_5"+ser.service_id) = document.getElementById("@("qos_5"+ser.service_id)");
                    $(document).on('click', '@("#qos_1"+ser.service_id)', function () {
                        @("qos_1"+ser.service_id).src = "/asset/star1.png";
                        @("qos_2"+ser.service_id).src = "/asset/star2.png";
                        @("qos_3"+ser.service_id).src = "/asset/star2.png";
                        @("qos_4"+ser.service_id).src = "/asset/star2.png";
                        @("qos_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_qos"+ser.service_id)').val('1');
                    })
                    $(document).on('click', '@("#qos_2"+ser.service_id)', function () {
                        @("qos_1"+ser.service_id).src = "/asset/star1.png";
                        @("qos_2"+ser.service_id).src = "/asset/star1.png";
                        @("qos_3"+ser.service_id).src = "/asset/star2.png";
                        @("qos_4"+ser.service_id).src = "/asset/star2.png";
                        @("qos_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_qos"+ser.service_id)').val('2');
                    })
                    $(document).on('click', '@("#qos_3"+ser.service_id)', function () {
                        @("qos_1"+ser.service_id).src = "/asset/star1.png";
                        @("qos_2"+ser.service_id).src = "/asset/star1.png";
                        @("qos_3"+ser.service_id).src = "/asset/star1.png";
                        @("qos_4"+ser.service_id).src = "/asset/star2.png";
                        @("qos_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_qos"+ser.service_id)').val('3');
                    })
                    $(document).on('click', '@("#qos_4"+ser.service_id)', function () {
                        @("qos_1"+ser.service_id).src = "/asset/star1.png";
                        @("qos_2"+ser.service_id).src = "/asset/star1.png";
                        @("qos_3"+ser.service_id).src = "/asset/star1.png";
                        @("qos_4"+ser.service_id).src = "/asset/star1.png";
                        @("qos_5"+ser.service_id).src = "/asset/star2.png";
                        $('@("#hidden_qos"+ser.service_id)').val('4');
                    })
                    $(document).on('click', '@("#qos_5"+ser.service_id)', function () {
                        @("qos_1"+ser.service_id).src = "/asset/star1.png";
                        @("qos_2"+ser.service_id).src = "/asset/star1.png";
                        @("qos_3"+ser.service_id).src = "/asset/star1.png";
                        @("qos_4"+ser.service_id).src = "/asset/star1.png";
                        @("qos_5"+ser.service_id).src = "/asset/star1.png";
                        $('@("#hidden_qos"+ser.service_id)').val('5');
                    })
                </script>
            }
        }
        <script>
            console.log("customerpage layout script");
            $('#ms_fname').val("@ViewBag.fname");
            $('#ms_lname').val("@ViewBag.lname");
            $('#ms_email').val("@ViewBag.email");

            $('#ms_phone').val("@ViewBag.phone");
            $('#DOB_day').val(@ViewBag.DOB_day);
            $('#DOB_month').val(@ViewBag.DOB_month);
            $('#DOB_year').val(@ViewBag.DOB_year);
            $('#Language').val(@ViewBag.lang);





            // ----------------------------------------service history table ---------------------------------
            $(document).ready(function () {
                $("#shTable").DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [4],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
                $(".buttons-pdf").hide();
                $(".buttons-copy").hide();
                $(".buttons-csv").hide();
                $(".buttons-print").hide();

                $("#export").on("click", function () {
                    $(".buttons-csv").trigger("click");
                });
            });
            // ----------------------------- datatable jquery -----------------------------------------
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [4],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
                $(".buttons-pdf").hide();
                $(".buttons-copy").hide();
                $(".buttons-csv").hide();
                $(".buttons-print").hide();
            })

        </script>





    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("oldpass") == "notok")
    {
        <script>
            console.log("hello");
            $('#ms_head_3').click();
            $('#myDetails').removeClass('show');
            $('#myDetails').removeClass('active');

            $('#myChangepass').addClass('active');
            $('#myChangepass').addClass('show');
            $('#wrongPass').show();
        </script>
    }
    else
    {
        <script>
            $('#ms_head_1').click();
            $('#myDetails').addClass('show');
            $('#myDetails').addClass('active');

            $('#myChangepass').removeClass('active');
            $('#myChangepass').removeClass('show');
            $('#wrongPass').hide();
        </script>
    }
    @if (ViewBag.showPassModal != null)
    {
        <script>
            console.log("show pass modal");
            var myModal = new bootstrap.Modal(document.getElementById("passchangeModal"), {});
            document.onreadystatechange = function () {
                myModal.show();
            };
        </script>
    }
    @if (ViewBag.spmysetting != null)
    {
        <script>
            $(document).ready(function () {
                $("#spshTable").DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [2],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
            });

            $(document).ready(function () {
                $("#spmrTable").DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [0],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
            });

            $(document).ready(function () {
                $("#spbcTable").DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [0],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
            });

            $(document).ready(function () {
                $("#spusTable").DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [5],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
            });

            $(document).ready(function () {
                $("#spnsrTable").DataTable({
                    "dom": 'Bt<"table-bottom d-flex justify-content-between"<"table-bottom-inner d-flex"li>p>',
                    "pagingType": "full_numbers",
                    "searching": false,
                    'columnDefs': [{
                        'targets': [5],
                        'orderable': false,
                    }],
                    "language": {
                        "paginate": {
                            "first": '<img src="/asset/leftMost.png" alt="">',
                            "last": '<img src="/asset/RightMost.png" alt="">',
                            "previous": '<img src="/asset/Left-arrow-button-copy.png" alt="">',
                            "next": '<img src="/asset/Right-arrow-button.png" alt="">'
                        },
                        'info': "Total Record: _MAX_",
                    }
                });
            });
        </script>
    }
</body>
</html>