@model Helperland.Models.User
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/asset/favicon_img.png" type="image/x-icon">
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">


    <!--<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>-->

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg align-items-center navbar-dark home_nav_bg">
        <div class="container-fluid">
            <img src="/asset/logo-large.png" id="logo-img">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mx-auto"></div>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="#" class="nav-item text-white head_item home_active">Book a Cleaner</a>
                    </li>
                    <li class="nav-item no_active">
                        <a asp-action="Price" asp-controller="Home" class="nav-item text-white head_item none_active">Prices</a>
                    </li>
                    <li class="nav-item no_active">
                        <a href="#" class="nav-item text-white head_item none_active">Our Guarantee</a>
                    </li>
                    <li class="nav-item no_active">
                        <a href="#" class="nav-item text-white head_item none_active">Blog</a>
                    </li>
                    <li class="nav-item no_active">
                        <a asp-action="Contact" asp-controller="Home" class="nav-item text-white head_item none_active">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="BecomeProvider" asp-controller="Home" class="nav-item text-white head_item home_active">Become a Helper</a>
                    </li>
                    @if (ViewBag.logged == null)
                    {

        <li class="nav-item">
            <a href="#" class="nav-item text-white head_item home_active" data-bs-toggle="modal" data-bs-target="#exampleModal" id="Login_modal">Login</a>
        </li> }
                    else
                    {


        <li>
            <div class="vertical_line">

            </div>
        </li>
                        <li class="notification">
                            <div class="align-items-center justify-content-center" id="notification">
                                <a href="#"><img src="/asset/icon-notification.png"></a>
                            </div>
                        </li>
                                        <li>
                                            <div class="vertical_line">

                                            </div>
                                        </li>
                                                        <li class="dropdown no_active sp_user">
                                                            <a class="nav-link dropdown-toggle" id="drpdwn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <img src="/asset/user.png">
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                                <li>
                                                                    <div class="login_info_container">
                                                                        <div class="login_welcome_txt">Welcome</div>
                                                                        <div class="login_welcome_name">@ViewBag.Uname</div>
                                                                    </div>
                                                                    <div>
                                                                        <hr class="seperator no_mar" />
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">
                                                                        My Dashboard
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">
                                                                        My Settings
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                                                                        Logout
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </li>}

                </ul>
            </div>
        </div>
    </nav>

    <!-- Login Modal Start -->
    <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login to your account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" asp-action="Login" asp-controller="Home">
                        <div class="col-12 emailModal">
                            <input asp-for="Email" type="email" class="form-control emailfield" name="Email" id="log_Email" placeholder="Email">


                        </div>
                        <div class="col-12 pswModal">
                            <input asp-for="Password" type="password" class="form-control passfield" name="Password" id="log_Pass" placeholder="Password">
                            <i class="fas fa-lock"></i>

                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col-12 login-btn">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="forgotpsw">
                        <a id="frgLink" href="#" data-bs-toggle="modal" data-bs-target="#frgPsw">
                            Forgot
                            Password?
                        </a>
                    </div>
                    <div class="accoutReg text-center">
                        <p>Don't have an account? <a asp-action="CustomerRegistration" asp-controller="Home">Create an account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal End -->
    <!-- Forgot Password Modal S -->
    <div class="modal fade" id="frgPsw" aria-labelledby="frgPswLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="frgPswLabel">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" asp-action="ForgotPass" asp-controller="Home">
                        <div class="col-12 text-danger" asp-validation-summary="All">
                            <input asp-for="Email" type="email" class="form-control" id="" placeholder="Email Address">
                        </div>
                        <div class="col-12 send-btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <div>
                        <a href="#" class="loginlink" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Login
                            Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Modal E -->
    <!-- Registration Success modal S-->
    <div class="modal fade" id="successModal" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <img src="/asset/yes-tickmark.png" alt="success" />
                </div>
                <div class="modal-body">
                    <div class="modal_register">
                        Registration Successfull
                    </div>
                </div>
                <div class="modal-footer justify-content-center login-btn">
                    <button type="submit" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration Success modal E-->
    <!-- Password Change modal S-->

    <div class="modal fade" id="changeModal" aria-labelledby="changeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <img src="/asset/yes-tickmark.png" alt="success" />
                </div>
                <div class="modal-body">
                    <div class="modal_register">
                        Password Changed Successfully
                    </div>
                </div>
                <div class="modal-footer justify-content-center login-btn">
                    <button type="submit" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Password Change modal E-->
    <div>
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="#" title="Helper Hand">
                            <img src="/asset/footer-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="Index" asp-controller="Home" title="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="About" asp-controller="Home" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="FAQ" asp-controller="Home" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="/asset/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="/asset/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="row faq-policy text-center">
                <p>©️2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</p>
            </div>
        </div>

        <div class="footer-bottom privacy-pol">
            <div class="container text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac. <a href="#" title="Privacy Policy">Privacy Policy</a></p>
                <a href="#" class="yellow-btn ok-btn">OK!</a>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="~/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    @if (ViewBag.message_mail != null && ViewBag.message_pass != null)
    {
<script>
            var myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
            document.onreadystatechange = function () {
                myModal.show();
                var email = @ViewBag.message_mail;
                var pass = @ViewBag.message_pass;
                $('#log_Email').val("email");
                $('#log_Pass').val("pass");
            };


</script>}
    @if (ViewBag.changepass != null)
    {
<script>
    var sucModal = new bootstrap.Modal(document.getElementById("changeModal"), {});
    document.onreadystatechange = function () {
        sucModal.show();
    };
</script>}
    @if (ViewBag.frgtpass != null)
    {
<script>
    var sucModal = new bootstrap.Modal(document.getElementById("frgPsw"), {});
    document.onreadystatechange = function () {
        sucModal.show();
    };
</script>}
    @if (ViewBag.successModal != null)
    {
<script>
    var sucModal = new bootstrap.Modal(document.getElementById("successModal"), {});
    document.onreadystatechange = function () {
        sucModal.show();
    };
</script>}
    @if (ViewBag.modal != null)
    {
<script>
    var myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
    document.onreadystatechange = function () {
        myModal.show();
    };
</script>}
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
