@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/asset/favicon_img.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <!--<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>-->
</head>
<body>

    <header>
        <nav class="navbar fixed-top navbar-expand-lg align-items-center navbar-dark faq_nav_bg">
            <div class="container-fluid">
                <img src="/asset/logo-small.png">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="mx-auto"></div>
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a href="#" class="nav-item text-white head_item faq_active">Book a Cleaner</a>
                        </li>
                        <li class="nav-item ">
                            <a asp-action="Price" asp-controller="Home" class="nav-item text-white head_item home_active">Prices & Services</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-item text-white head_item none_active">Warranty</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-item text-white head_item none_active">Blog</a>
                        </li>
                        <li class="nav-item ">
                            <a asp-action="Contact" asp-controller="Home" class="nav-item text-white head_item none_active">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="BecomeProvider" asp-controller="Home" class="nav-item text-white head_item faq_active">Become a Helper</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetString("loggedIn") == null)
                        {
                            <li class="nav-item">
                                <a asp-action="Index_Login" class="nav-item text-white head_item faq_active" asp-controller="Home">Login</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="vertical_line">

                                </div>
                            </li>
                            <li class="notification">
                                <div class="align-items-center justify-content-center" id="notification">
                                    <a href="#"><img src="/asset/icon-notification.png"></a>
                                </div>
                            </li>
                            <li>
                                <div class="vertical_line">

                                </div>
                            </li>
                            <li class="dropdown no_active sp_user">
                                <a class="nav-link dropdown-toggle" id="drpdwn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="/asset/user.png">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <div class="login_info_container">
                                            <div class="login_welcome_txt">Welcome</div>
                                            <div class="login_welcome_name">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</div>
                                        </div>
                                        <div>
                                            <hr class="seperator no_mar" />
                                        </div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            My Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            My Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Home">
                                            Logout
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Login Modal Start -->
        <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login to your account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="col-12 emailModal">
                                <input type="email" class="form-control" id="" placeholder="Email">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="col-12 pswModal">
                                <input type="password" class="form-control" id="" placeholder="Password">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 login-btn">
                                <button type="button">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div class="forgotpsw">
                            <a id="frgLink" href="#" data-bs-toggle="modal" data-bs-target="#frgPsw">
                                Forgot
                                Password?
                            </a>
                        </div>
                        <div class="accoutReg text-center">
                            <p>Don't have an account? <a asp-action="CustomerRegistration" asp-controller="Home">Create an account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Modal End -->
        <!-- Forgot Password Modal S -->
        <div class="modal fade" id="frgPsw" aria-labelledby="frgPswLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="frgPswLabel">Forgot Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="col-12">
                                <input type="email" class="form-control" id="" placeholder="Email Address">
                            </div>
                            <div class="col-12 send-btn">
                                <button type="button">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div>
                            <a href="#" class="loginlink" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Login
                                Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Forgot Password Modal E -->
        <!-- no service provider found modal -->
        <div class="modal fade" id="nospModal" aria-labelledby="nospModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered justify-content-center">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <img src="/asset/no-tickmark.png" alt="failed" />
                    </div>
                    <div class="modal-body">
                        <div class="modal_register">
                            No Service Provider Found
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center login-btn">
                        <button type="submit" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- no service provider found modal end -->

    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="#" title="Helper Hand">
                            <img src="/asset/footer-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="Index" asp-controller="Home" title="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="About" asp-controller="Home" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="FAQ" asp-controller="Home" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="/asset/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="/asset/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 p-0">
                        <hr class="footer-separator">
                    </div>
                </div>
                <div class="row faq-policy text-center">
                    <p>©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js"></script>

    @if (HttpContextAccessor.HttpContext.Session.GetString("zipcode") != null)
    {
        <script>
            var userpostalcode = @HttpContextAccessor.HttpContext.Session.GetString("zipcode");
            console.log("this is called " + userpostalcode);
            $('#add_postal').val(userpostalcode);
            $('#add_postal').attr('disabled', 'disabled');
        </script>


    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("ss_step_2") == "notset")
    {
        @if (ViewBag.foundsp != null)
        {
            <script>
                var nospModal = new bootstrap.Modal(document.getElementById("nospModal"), {});
                document.onreadystatechange = function () {
                    nospModal.show();
                };
            </script>
        }
        @if (ViewBag.foundsp == null)
        {
            <script>
                $(function () {
                    $('.postal_check_btn').click();
                });
                $(document).on('click', '.postal_check_btn', function () {
                    $(".ss_step_1").addClass('fade');
                    $(".ss_step_2").removeClass('fade');
                    $(".col-step-1").removeClass('active_tab');
                    $(".col-step-2").addClass('active').addClass('active_tab');
                    step_2_img.src = "/asset/schedule-plan.png";
                    progress_step_2 = 1;
                    console.log("this is progress step 2" + progress_step_2);
                    //set date to be disable before today & set time
                    var today = new Date();
                    today.setHours(today.getHours() + 2);
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();
                    var hr = today.getHours();
                    var minit = today.getMinutes();
                    var max_time = hr + ':' + minit;
                    $('#service_time').val(max_time);
                    var max_date = yyyy + '-' + mm + '-' + dd;
                    $('#service_date').attr('min', max_date);
                });

            </script>
        }

    }
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("address_fetch_cnt") != null)
    {
        <script>
            var cnt_addresst = @HttpContextAccessor.HttpContext.Session.GetInt32("address_fetch_cnt");
            var cnt_address = cnt_addresst + 1;
            console.log("this is cnt_addresst" + cnt_addresst);
        </script>
    }

</body>
</html>